
.post h2 {
  font-size: 1.5em; 
  font-weight: bold;
  /*background:#B9D3EE;*/
  /*text-align: center;*/
  padding-left: 20px;
  margin-bottom: 20px;
  border-left: 3px solid #1874CD; 
}

.post h3 {
  font-size: 1.2em; 
  font-weight: bold;
  text-indent: 0px; 
  border-radius: 0px; 
  padding: 6px 15px;
  margin-bottom: 20px;
  margin-top: 5px;
  background:#ffffff;
  /*0px right, 5px botton, 5px fuzzy*/
  box-shadow: 0px 0px 0px #ffffff;
  border-left: 6px solid #1874CD; 
  /*position:relative;*/
}
